body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
a:visited {
  color: blue;
}
#offline {
  display: none;
}
#banner {
  background: linear-gradient(
    to bottom,
    #0000ff,
    #0195c7
  ); /* Dark blue to light blue */
  color: white;
  text-align: left;
  padding: 10px;
  font-size: 24px;
}
#content {
  display: flex;
  flex: 1;
}
#left-nav {
  width: 200px;
  background-color: #f2f2f2;
  padding: 20px;
  visibility: hidden;
}
#login {
  padding: 20px;
  width: 800px;
  display: none;
}
#welcome {
  padding: 20px;
  width: 800px;
  display: none;
}
.page {
  flex-grow: 1;
  padding: 20px;
  display: none;
}
#sidmsg,
#runmsg,
#basicmsg {
  display: none;
  background-color: red;
  color: white;
  width: 400px;
}
#infoTableContainer > table td:first-of-type {
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}
#settings .header {
  font-weight: bold;
  height: 2em;
  vertical-align: bottom;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr .header {
  background-color: #ddd;
}
@font-face {
  font-family: "C64";
  src: url("C64_Pro-STYLE.woff") format("woff"); /* Path to your C64 font file */
}

.c64-textarea {
  font-family: C64, monospace;
  background-color: #1966be; /* Commodore 64 screen color */
  color: #68bee6; /* Light blue text color */
  border: none;
  border-radius: 0;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  width: 900px;
  height: 400px;
  resize: none;
}

.trinity-dialog {
  --size: 1.4;
  --background: black;
  --color: rgba(160, 182, 247, 0.877);
  border: 2px solid var(--color);
  background: var(--background);
  width: 800px;
  height: 400px;
  min-height: 100px;
  min-width: 250px;
  max-width: calc(100vw - 40px);
  max-height: calc(100vh - 40px);
  z-index: 100;
  resize: both;
  overflow: auto;
}
.trinity-dialog .body {
  width: 100%;
  height: calc(100% - 28px);
}
.trinity-dialog,
.trinity-dialog header .title {
  position: relative;
  left: 420px;
  top: 200px;
  transform: translate(-50%, -50%);
}
.trinity-dialog header .title {
  margin-top: -2px;
  background: var(--color);
  padding: 1px 10px;
}
.trinity-dialog header {
  background: var(--color);
  position: relative;
}
.trinity-dialog header::before {
  content: "";
  display: block;
  position: absolute;
  left: 55px;
  top: 5px;
  right: 10px;
  width: calc(100% - 55px - 5px);
  height: 15px;
  background: #251180;
}
.trinity-dialog header .title::before {
  content: "[ ";
}
.trinity-dialog header .title::after {
  content: " ]";
}
.trinity-dialog header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.trinity-dialog header li {
  display: inline-block;
  margin: 3px;
  width: 14px;
  height: 14px;
  border: 2px solid var(--background);
}
li {
  list-style-type: square;
}

#toast {
  opacity: 0;
  text-align: right;
  float: right;
  transition: opacity 0.5s ease-in-out;
}

#toast.show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.tooltip {
  cursor: help;
}
.tooltip.needsData {
  cursor: progress;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #ddd;
  }
  #left-nav {
    background-color: #333;
  }
  a,
  a:visited {
    color: #4eaaff;
  }

  #banner {
    background: linear-gradient(to bottom, #00008b, #0177aa);
    color: #eee;
  }
  input,
  button {
    background-color: #555;
    color: #ddd;
    border: 1px solid #777;
  }
  #basiceditor {
    margin-top: 10px;
  }
  .insertSymbol {
    width: 100%;
  }
  tr:nth-child(even) {
    background-color: #333;
  }
  td.header {
    background-color: #444;
  }
}
